.sidebar{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    height: 43.4rem;
    width: 20rem9;
    justify-content: center;
    align-items: center;
}
.btn{
    width: 12rem;
    border-radius: 0;
    margin: 2rem;
    height: 4rem;
}
.sidebar-box1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 12rem;
    margin-bottom: 6rem;
}