.sidebar{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    height: 43.4rem;
    max-width: 20vw;
    justify-content: center;
    align-items: center;
}
.btn{
    width: 12rem;
    border-radius: 0;
    margin: 2rem 0;
    height: 4rem
}
.parent-dashboard{
    width: ;
}