.container{
    margin-top: 10em;
    margin-bottom:0 ;
    padding-bottom: 0;
    background-color: var(--main-color);
    padding:0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
}
.brandName{
    font-family: Rubik Glitch Pop;
    margin-left:0.5rem;
    margin-right: 6rem;
    color: var(--back-color);
}
.footerText{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin-right: 0;
}
.ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
    width: 10rem;
    margin: 1rem 8rem;
}
.footerLinks{
    display: flex;
    flex-direction: row;
}
.a , li{
    text-decoration: none;
    font-size: var(--step-0);
    color: black;
  }
.social, .company{
    text-align: center;
    font-size: var(--step-0);
}
.box1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    /* margin-left: -30em; */
    /* height:40vh; */
    /* animation: slideInUp 1s forwards; */
}
.box2{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* height:40vh; */
    /* animation: slideInUp 1s forwards; */
}

@media only screen and (max-width: 768px){
    .container{
        display: flex;
        flex-direction: column;
        padding-bottom:0 ;
        margin-bottom: 0;
        height: 75vh;
    }
    .footerText{
        width: 85%;
    }
}
@media only screen and (max-width : 427px) {
    .container{
        display: flex;
        flex-direction: column;
        margin-bottom: -4rem;
    }
    .footerLinks{
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 2rem;
        padding-top: 2rem;
        margin: 0 ;
    }
    .box2{
        display: block;
        /* margin-left: -10rem; */
    }
}
