.container{
    margin-top: 4rem;
    margin-bottom:0 ;
    padding-bottom: 0;
    background-color: var(--main-color);
    padding: 2rem;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.brandName{
    font-family: Rubik Glitch Pop;
    margin-left:0.5rem;
    margin-right: 6rem;
    color: var(--back-color);
}
.footerText{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin-right: 0;
}
.ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
    width: 10rem;
    margin: 0 8rem;
}
.social, .company{
    text-align: center;
}
.box1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: -30em;
    height:100%;
    animation: slideInUp 1s forwards;
}
.box2{
    display: flex;
    align-items: center;
    flex-direction: column;
    height:40vh;
    animation: slideInUp 1s forwards;
}

@media only screen and (max-width: 768px){
    .container{
        display: flex;
        flex-direction: column;
        padding-bottom:0 ;
        margin-bottom: 0;
        height: 75vh;
    }
    .footerText{
        width: 85%;
    }
}
@keyframes slideInUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }